# ignore all files in the following directory
app/public/assets/music/uploads/Approved/
app/public/assets/music/uploads/Kulibiletu/
app/public/assets/music/
app/public/assets/images/uploads/
app/includes/DatabaseConnection.php